<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iotek.fgs.qq" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".LoginTest">
            <intent-filter>
                <action android:name="com.iotek.qq.loginTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".RegistTest">
            <intent-filter>
                <action android:name="com.iotek.qq.registTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ChatViewTest">
            <intent-filter>
                <action android:name="com.iotek.qq.chatviewTest"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity"
            android:theme="@android:style/Theme.Translucent" >
            <intent-filter>
                <action android:name="com.iotek.qq.detail"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".EditDetailActivity">
            <intent-filter>
                <action android:name="com.iotek.qq.editdetail"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ConnFail">
            <intent-filter>
                <action android:name="com.iotek.qq.connectFail"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="com.iotek.qq.search"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".SelGroupActivity">
            <intent-filter>
                <action android:name="com.iotek.qq.selgroup"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".RequestActivity">
            <intent-filter>
                <action android:name="com.iotek.qq.requestActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".PersonIcActivity">
            <intent-filter>
                <action android:name="com.iotek.qq.personIc"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
